@charset "utf-8";
/* CSS Document */
body { margin: 0; padding: 0; font-size: 14px; font-family: "微软雅黑"; -webkit-font-smoothing: antialiased; - webkit-text-size-adjust: 100%;
background: #fff; }
div, form, img, ul, ol, li, p, dl, dt, dd { margin: 0; padding: 0; border: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font- family: '\5FAE\8F6F\96C5\9ED1';
}
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
fieldset, img, input { border: 0 none; }
table { border-collapse: collapse; border-spacing: 0; }
ul, li { list-style: none; }
i, em { font-style: normal; }
fieldset, img { border: 0px; }
textarea { resize: vertical }
a { text-decoration: none; color: #333; blr:exPRession(this.onFocus=this.blur ());
-webkit-tap-highlight-color: rgba(0,0,0,0); transition: all .1s linear; }
a:focus { outline: 0; }
a:hover { text-decoration: none; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.clear:after { content: ""; display: block; visibility: hidden; height: 0; clear: both; }
.clear { zoom: 1 }
.left { float: left; }
.right { float: right; }
.p130 { padding-top: 25px; }
.mt15 { margin-top: 30px; }
.f_l { float: left; }
.f_r { float: right; }
.w1200 { width: 1200px; margin: 0 auto; display: block; overflow: hidden }
/* 顶部 */
.top { margin: 17px auto; }
.top h1 { float: left; }
.top .tel { float: right; }
/* 导航 */
.nav { min-width: 1200px; background-color: #1563ba; height: 50px; }
.nav ul { width: 1200px; margin: 0 auto; }
.nav ul li { float: left; }
.nav ul li a {/* width: 133px; */ font-size: 15px; text-align: center; color: #fff; line-height: 50px; position: relative; display: block; overflow: hidden; padding: 0 12px }
.nav ul li a:hover, .nav ul li a.current, .nav ul li .on { background-color: #f5f211; color: #333; padding: 0 12px }
/* banner */
.banner { position: relative; display: block; overflow: hidden; width: 100%; margin-bottom: 4px; z-index: 1; clear: both; }
.slides { position: relative; }
.slides li img { display: block; width: 100% \9; max-width: 100%; height: auto; }
.flex-control-nav { position: absolute; bottom: 20px; z-index: 2; width: 100%; text-align: center; }
.flex-control-nav li { display: inline-block; width: 13px; height: 13px; margin: 0 5px; *display:inline;
zoom: 1; }
.flex-control-nav a { display: inline-block; width: 13px; height: 13px; line-height: 40px; overflow: hidden; cursor: pointer; background-color: #1563ba; border-radius: 10px; }
.flex-control-nav .flex-active { background-position: 0 0; border: 1px solid #1563ba; background-color: rgba(255,255,255,0) }
/* 服务 */
.title { background: url(/web/images/index/icon1.jpg) no-repeat 0 4px; font-size: 20px; color: #333333; padding-left: 15px; margin-top: 25px; margin-bottom: 20px }
.region { padding: 10px 10px 5px 10px; display: block; overflow: hidden }
.ys1 { background-color: #1563ba; color: #fff; }
.ys2 { background-color: #f5f211; color: #333 }
.region h2 { float: left; font-size: 16px; }
.region_ys1 a:hover, .region_ys1 a.on { background-color: #acd1fb; color: #333; border-radius: 5px; }
.region_ys2 a:hover, .region_ys2 a.on { background-color: #1563ba; color: #fff; border-radius: 5px; }
.region_ys { float: left; margin-right: -10px; }
.region_ys.in { height: 30px; overflow: hidden; width: 1100px; }
.region_ys.on { height: auto; }
.region_ys a { font-size: 14px; margin-bottom: 5px; float: left; text-align: center; margin-right: 10px; }
.server_ys1 a:hover, .server_ys1 a.on { background-color: #acd1fb; color: #333; border-radius: 5px; }
.server_ys2 a:hover, .server_ys2 a.on { background-color: #1563ba; color: #fff; border-radius: 5px; }
.server_ys { float: left; margin-right: -10px; }
.server_ys.in { height: 30px; overflow: hidden; width: 240px; }
.server_ys.on { height: auto; }
.server_ys a { font-size: 14px; margin-bottom: 5px; float: left; text-align: center; margin-right: 5px; }
.region_ys2 a { color: #333; width: 80px; line-height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.region_ys1 a { color: #fff; width: 80px; line-height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.server_ys2 a { color: #333; width: 70px; line-height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.server_ys1 a { color: #fff; width: 70px; line-height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.brand_main { border: 1px solid #f1f1f1; border-top: 0; padding: 20px 25px; }
.brand_t { display: block; overflow: hidden; }
.brand_t a { width: 145px; height: 35px; border: 1px solid #f1f1f1; text-align: center; line-height: 35px; color: #333; float: left; margin-left: 15px; margin-bottom: 15px; border-radius: 5px }
.brand_t a:hover { background-color: #1563ba; color: #fff; }
.brand_main1 { border: 1px solid #f1f1f1; border-top: 0; padding: 20px 0; }
.brand_t1 { display: block; overflow: hidden; }
.brand_t1 a { width: 70px; height: 30px; border: 1px solid #f1f1f1; text-align: center; line-height: 30px; color: #333; float: left; margin-left: 13px; margin-bottom: 15px; border-radius: 5px }
.brand_t1 a:hover { background-color: #1563ba; color: #fff; }
.more { width: 150px; height: 35px; line-height: 35px; text-align: center; background-color: #1563ba; margin: 0 auto; color: #fff; border-radius: 20px; margin-top: 10px }
.more a { color: #fff; }
.pic_icon1 { display: none; position: relative; right: 10px; top: 6px; cursor: pointer; float: right }
.pic_icon2 { display: none; position: relative; right: 2px; top: 3px; cursor: pointer; float: right }
/* 主体 */
.ma { margin-right: -44px; }
.main1 { float: left; width: 370px; margin-top: 30px; margin-right: 44px }
.title1 { border-bottom: 2px solid #cccccc; height: 32px; }
.title1 h2 { font-size: 18px; color: #333333; border-bottom: 2px solid #1563ba; float: left; height: 32px }
.title1 .more1 a { float: right; line-height: 32px; font-size: 14px; color: #333; }
.title1 .more1 a:hover { color: #1563ba; }
.main1_1 { margin-top: 15px; }
.main1_1 .main1_1_t { width: 240px; }
.main1_1 .main1_1_t h2 { font-size: 15px; color: #444444; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 24px }
.main1_1 .main1_1_t a:hover h2 { color: #1563ba; }
.main1_1 .main1_1_t h3 { font-size: 12px; color: #888888; line-height: 20px; height: 40px; overflow: hidden; margin-top: 5px }
.main1_2 { padding-top: 5px; display: block; overflow: hidden; clear: both }
.main1_2 p { background: url(/web/images/index/icon2.jpg) no-repeat 0 3px; padding-left: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; color: #444444; margin-top: 10px }
.main1_2 p a, .main2_1 p a { color: #444444 }
.main1_2 p a:hover, .main2_1 p a:hover { color: #1563ba; }
.gg { margin-top: 30px; }
.main2 { float: left; width: 370px; margin-top: 30px; margin-right: 44px }
.main2_1 { margin-top: 18px; }
.main2_1 p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; color: #444444; border-bottom: 1px dashed #ccc; line-height: 36px }
/* 底部  */
.footer_bj { padding: 12px 0; background-color: #f1f1f1; margin-top: 45px }
.footer_bj1 { background-color: #fade01; padding: 12px 0; margin-top: 45px }
.footer1 h2 { font-size: 18px; color: #000000; padding-bottom: 5px }
.footer1 p a { font-size: 14px; color: #666666; padding-right: 20px; line-height: 24px }
.footer1 p a:hover { color: #1563ba; }
.footer p { font-size: 14px; line-height: 24px; }
.footer p em { color: #1563ba; }
.footer p a { color: #888888; margin-left: 15px }
.footer p a:hover { color: #1563ba; }
.copy_bj { background-color: #1563ba; color: #96c4f8; line-height: 36px; text-align: center; font-size: 13px }
.copy_bj a { color: #fff; padding-left: 15px }
/* 右侧浮动在线客服 */
.commonposition { _position: absolute; _top: expression(documentElement.scrollTop + 200 + "px");
position: fixed; top: 31.6%; right: 0px; z-index: 999999; display: none; }
.commonposition a { display: block; width: 45px; height: 45px; position: relative; background-color: #1563ba; background-image: url(/web/images/index/icon.png); background-repeat: no-repeat; margin-top: 1px; }
.commonposition a span { display: none; position: absolute; right: 0px; top: 0px; height: 45px; padding-left: 50px; color: #fff; line-height: 45px; font-size: 14px; background-color: #333; }
.commonposition a.HomeQQ { background-position: -4px 0px; }
.commonposition a.HomeQQ1 { background-position: -4px 0px; }
.commonposition a.Homedianhua { background-position: -4px -102px; }
.commonposition a.Homeweixin { background-position: -4px -153px; }
.commonposition a.Hometop { background-position: -4px -205px; background-color: #333; }
.commonposition a span.QQbggray { background-position: -4px 0px; background-image: url(/web/images/index/icon.png); background-repeat: no-repeat; width: 90px; }
.commonposition a span.QQbggray1 { background-position: -4px 0px; background-image: url(/web/images/index/icon.png); background-repeat: no-repeat; width: 90px; }
.commonposition a span.weixinerweima { right: 45px; padding: 0px; }
.commonposition a span.dianhuabggray { background-position: -4px -102px; background-image: url(/web/images/index/icon.png); background-repeat: no-repeat; width: 120px; }
/* 品牌css */
.logo { margin-top: 15px; margin-bottom: 12px; display: block; overflow: hidden }
.logo h1 { float: left; }
.logo h2 { font-size: 20px; color: #333333; border-left: 1px solid #ccc; padding-left: 15px; margin-left: 20px; float: left; margin-top: 10px; line-height: 50px; }
.title2 { margin: 40px 0 30px 0; }
.title2 .xx { width: 56px; height: 1px; background-color: #1563ba; margin: 0 auto; }
.title2 h2 { font-size: 22px; color: #333333; text-align: center; padding: 10px 0 }
.title2 h3 { font-size: 14px; color: #bbbbbb; text-align: center; }
#pro_div1 { width: 1200px; overflow: hidden; position: relative; }
#pro_div1 .mr_frBtnL { position: absolute; left: 0; top: 130px; width: 30px; height: 60px; z-index: 100; cursor: pointer; }
#pro_div1 .mr_frBtnR { position: absolute; right: 0; top: 130px; width: 30px; height: 60px; z-index: 100; cursor: pointer; }
#pro_list1 { width: 1140px; margin: 0 auto; }
#pro_list1 ul li { float: left; width: 257px; padding: 0 14px; }
#pro_list1 ul li .pro_img { width: 257px; height: 290px; display: block; overflow: hidden; }
#pro_list1 ul li .pro_img img { width: 257px; height: 290px; transition: .2s transform; transform: translateZ(0); }
#pro_list1 ul li:hover .pro_img img { transform: scale(1.1, 1.1); transition: .4s transform; }
#pro_list1 ul li p { font-size: 14px; color: #999999; line-height: 50px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #f1f1f1; height: 50px }
#pro_list1 ul li:hover p { background-color: #1563ba; color: #fff; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.flow_bj { background-color: #f1f1f1; padding: 1px 0 45px 0; margin-top: 50px }
.flow { width: 1200px; margin: 0 auto; display: block; overflow: hidden; }
.flow1 { width: 370px; }
.flow1 ul li { margin-top: 50px; }
.flow1 ul li img { margin: 0 auto; text-align: center; display: block; }
.flow1 ul li .flow_x { width: 25px; height: 1px; background-color: #dddddd; margin: 28px auto; }
.flow1 ul li h2 { font-size: 16px; color: #3a3a3a; text-align: center; margin-bottom: 15px }
.flow1 ul li p { font-size: 14px; text-align: center; color: #999999; line-height: 24px; }
.flow_img { margin-top: 120px; margin-left: 35px }
.news ul { margin-right: -70px; }
.news ul li { float: left; width: 560px; margin-right: 70px; margin-bottom: 30px }
.news ul li .time { font-size: 16px; color: #ffffff; text-align: center; width: 80px; height: 68px; background-color: #1563ba; line-height: 30px; padding-top: 12px; float: left }
.news ul li .time span { font-size: 24px; color: #b8daff; }
.news ul li .news_main { width: 460px; float: right; }
.news ul li .news_main h2 { font-size: 16px; color: #333333; margin: 2px 0 9px 0 }
.news ul li .news_main p { font-size: 14px; color: #666666; line-height: 24px; }
.news ul li a:hover .news_main h2 { color: #1563ba; }
/* 内页 */
.server { width: 270px; }
.news_ny, .news_deta { width: 890px; margin-top: 30px }
.online h1 { height: 40px; background: #f0f0f0 url(/web/images/index/wz_ico.png) no-repeat 20px center; width: 100%; padding-left: 45px; color: #787878; }
.online h1 { font-size: 12px; line-height: 40px; }
.online a { color: #787878; font-size: 12px; }
.online a:hover { color: #1563ba; font-size: 12px; }
.online a.xz { color: #1563ba; }
.news_ny ul li { padding: 34px 0; border-bottom: 1px solid #f1f1f1; overflow: hidden }
.news_ny ul li .news_time { font-size: 14px; color: #333; width: 70px; height: 68px; line-height: 24px; float: left; margin: 0 15px }
.news_ny ul li .news_time span { font-size: 24px; color: #999; }
.news_ny ul li .news_ny_main { width: 670px; border-left: 1px solid #f1f1f1; padding-left: 40px }
.news_ny ul li .news_ny_main h2 { font-size: 16px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-bottom: 12px }
.news_ny ul li .news_ny_main p { font-size: 14px; color: #666; line-height: 24px; height: 45px; overflow: hidden; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.news_ny ul li a:hover .news_ny_main p { margin-left: 20px; }
.news_ny ul li a:hover .news_ny_main h2 { color: #1563ba; }
.news_ny ul li .news_ny_img { margin-top: 25px; }
/* 分页 */
.page { text-align: center; font-size: 12px; font-family: '\5b8b\4f53'; clear: both; padding-top: 10px; }
.page a { display: inline-block; margin: 0 5px; height: 24px; line-height: 24px; padding: 0 8px; border: #a3a3a3 solid 1px; border-radius: 2px; color: #a3a3a3; }
.page i { width: 0; height: 0; line-height: 0; display: block; border-width: 5px; border-style: solid; Filter: Chroma(color=color); position: absolute; top: 7px; }
.page .first { padding-left: 20px !important; position: relative; }
.page .last { padding-right: 20px !important; position: relative; }
.page .first i { border-color: transparent #a3a3a3 transparent transparent; left: 5px; }
.page .last i { border-color: transparent transparent transparent #a3a3a3; right: 5px; }
.page a:hover { color: #a3a3a3; border: #a3a3a3 solid 1px; text-decoration: none; }
.page .on { color: #FFF !important; border: #a3a3a3 solid 1px; background: #a3a3a3; }
/* 图文详情 */
.pic_list_xq { margin-top: 35px; width:890px}
.pic_list_xq p { font-size: 14px; color: #333; /*text-indent: 2em; */line-height: 24px; }
.pic_list_xq img { text-align: center; display: block; margin: 0 auto; padding: 20px 0; }
.pic_list_xq h2 { font-size: 24px; text-align: center; color: #000; line-height: 40px; }
.pic_list_xq h3 { font-size: 14px; color: #979696; text-align: center; line-height: 30px; }
.pic_list_details { margin-top: 20px; padding-top: 20px; }
.pic_list_details p { font-size: 14px; color: #666666; /*text-indent: 2em;*/ text-align: left; line-height: 24px; }
.page_text { border-top: #b6b6b6 dotted 1px; border-bottom: #b6b6b6 dotted 1px; font-size: 14px; padding: 10px 0px; margin-top: 30px; color: #2c6abc; }
.page_text p { line-height: 30px; height: 30px; overflow: hidden; font-weight: bold; }
.page_text p a { color: #3f3f3f; font-weight: normal; }
.page_text p a:hover { color: #108b3f; }
.about { margin-top: 30px; }
.about p { font-size: 14px; color: #666666; line-height: 36px; text-indent: 2em; }
.about p img, .about img{text-align: center; display: block; margin: 0 auto; padding: 10px 0;}
.title_bj {height: 40px; margin-top: 30px; background-color: #f1f1f1; }
.title_bj .title3 { font-size: 16px; color: #333333; line-height:40px; padding-left:10px }
.news_tj { margin-top: 20px; clear:both; display:block; overflow:hidden}
.news_tj li { float: left; width: 200px; background: url(/web/images/index/case_icon.png) no-repeat 0 5px; font-size: 14px; color: #555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-bottom: 10px; margin-right: 46px; padding-left: 15px }
.news_tj { margin-right: -46px; }
.news_tj li a:hover { color: #1563ba; }
.pp{ display:block; overflow:hidden; margin-top:20px;}
.pp ul{margin-right:-60px;}
.pp ul li{width:360px; height:50px; line-height:50px; border-bottom:1px dashed #ccc; float:left; margin-right:60px}
.pp ul li a{color:#333;}
.pp ul li a:hover{color:#1563ba;}

.title5 {margin-top:40px; margin-bottom:30px;}
.title5 h2{font-size:24px;  color:#333; text-align:center;}
.title5 h3{font-size:14px; color:#999; text-align:center; padding-top:5px;}
form { display: block; overflow: hidden; margin-top: 20px; margin-bottom: 20px }
.form_l { width: 560px; margin-bottom: 50px }
.form_1 { margin-top: 20px; }
.form_1 label { font-size: 18px; color: #666666; }
.form_1 label em { color: #bf0103; }
.form_1 input { width: 558px; border: 1px solid #cccccc; color: #666; height: 47px; line-height: 47px; margin-top: 10px; outline: none; font-size: 16px; padding-left: 10px }
.form_1 select { width: 570px; border: 1px solid #cccccc; color: #666; height: 47px; line-height: 47px; margin-top: 10px; outline: none; font-size: 16px; padding-left: 10px }
.form_r { width: 560px; margin-bottom: 50px }
.form_2 { margin-top: 20px; }
.form_2 label { font-size: 18px; color: #666666; }
.form_2 textarea { width: 546px; height: 356px; border: 1px solid #cccccc; margin-top: 10px; outline: none; font-size: 16px; color: #666; padding-left: 10px; font-family: "微软雅黑"; }
.button { width: 200px; height: 42px; line-height: 42px; border-radius: 20px; background-color: #1563ba; color: #fff; margin: 0 auto; display: block; margin-top: 20px; outline: none; cursor: pointer }