<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/fragments/layout">
<head>
    <title>产品添加</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/admin/pagination/pagination.css" />
    <script type="text/javascript" th:src="@{/scripts/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/validate/chinese.js}"></script>
    <script type="text/javascript" th:src="@{/admin/jquery.form.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.config.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.all.min.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
    
    <script th:src="@{/admin/script/produce/add.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">产品添加</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a>产品添加</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" id="add-message-form" action="/userInfos/updatePerson" method="post">
                        <div class="card-body">
                            <h4 class="card-title">添加产品</h4>
                            <div class="form-group row">
                                <label for="productFieldId" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品领域</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="productFieldId" name="productFieldId">
                                        <option value="">请选择所属领域</option>
                                        <option th:each="productField,stat:${productFields}" th:value="${productField.id}" th:text="${productField.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="productTypeId" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品品牌</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="productBrandId" name="productBrandId">
                                        <option value="">请选择所属品牌</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="productTypeId" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品类型</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="productTypeId" name="productTypeId">
                                        <option value="">请选择所属类型</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="img" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品图片</label>
                                <div class="col-sm-8">
                                    <img src="/admin/img.png" width="259px" height="290px" class="img-thumbnail" id="img-img"/>
                                    <input type="file" class="hide" name="fileName" id="fileName" />
                                    <input id="img" type="hidden" name="img" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品名称</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="name Here"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 text-right control-label col-form-label">Tags（多个以,号隔开）</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="tags" name="tags" placeholder="tags Here"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="overview" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>概述</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="overview" name="overview"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="paramContent" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品参数信息</label>
                                <div class="col-sm-8">
                                    <script id="editorParamContent" type="text/plain" style="width:95%;height:450px;"></script>
                                    <textarea class="form-control" id="paramContent" name="paramContent" style="height: 609px;resize:none;display: none;"></textarea>
                                 </div>
                            </div>
                            <div class="form-group row">
                                <label for="content" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品特点信息</label>
                                <div class="col-sm-8">
                                    <script id="editor" type="text/plain" style="width:95%;height:450px;"></script>
                                    <textarea class="form-control" id="content" name="content" style="height: 609px;resize:none;display: none;"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="video" class="col-sm-3 text-right control-label col-form-label">视频文件</label>
                                <div class="col-sm-8">
                                    <video src="/admin/video.mp4" controls="controls" width="259px" height="290px" class="img-thumbnail" id="video-img"/>
                                    <input id="video" type="hidden" name="video" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="video" class="col-sm-3 text-right control-label col-form-label">附件上传</label>
                                <div class="col-sm-8">
                                    <input type="button" value="点击上传产品说明附件" id="pdfFile-button"/>
                                    <input id="pdfFile" type="text" name="pdfFile" class="form-control" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="author" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>作者</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="author" name="author" placeholder="作者"/>
                                </div>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary" id="add-message-button">添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>