<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/fragments/layout">
<head>
    <title>用户修改</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/admin/pagination/pagination.css" />
    <script type="text/javascript" th:src="@{/scripts/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/validate/chinese.js}"></script>
    <script type="text/javascript" th:src="@{/admin/jquery.form.js}"></script>
    <script th:src="@{/admin/script/user/add.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">用户信息</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a>用户列表</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" id="add-message-form">
                        <div class="card-body">
                            <h4 class="card-title">修改用户</h4>
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>用户名</label>
                                <div class="col-sm-9">
                                    <input type="hidden" id="id" name="id" th:value="${user.id}"/>
                                    <input type="hidden" id="createTime" name="createTime" th:value="${user.createTime}"/>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="username Here" th:value="${user.username}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pwd" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>密码</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password Here" th:value="${user.pwd}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pwd" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>确认密码</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="rePwd" name="rePwd" placeholder="rePwd Here" th:value="${user.pwd}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gender" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>角色类型</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="roleType" name="roleType">
                                        <option value="SUPER" th:selected="${user.roleTypeName=='超级用户'}">超级用户</option>
                                        <option value="MANAGER" th:selected="${user.roleTypeName=='管理员'}">管理员</option>
                                        <option value="DEFAULT" th:selected="${user.roleTypeName=='普通用户'}">普通用户</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="niceName" class="col-sm-3 text-right control-label col-form-label">姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="niceName" name="niceName" placeholder="niceName Here" th:value="${user.niceName}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gender" class="col-sm-3 text-right control-label col-form-label">性别</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="男" th:selected="${user.gender=='男'}">男</option>
                                        <option value="女" th:selected="${user.gender=='女'}">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 text-right control-label col-form-label">电话</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Contact No Here" th:value="${user.phone}"/>
                                </div>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary" id="add-message-button">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>