<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/fragments/layout">
<head>
    <title>品牌信息修改</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/admin/pagination/pagination.css" />
    <script type="text/javascript" th:src="@{/scripts/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/validate/chinese.js}"></script>
    <script type="text/javascript" th:src="@{/admin/jquery.form.js}"></script>
    <script th:src="@{/admin/pagination/jquery.pagination.js}"></script>
    <script th:src="@{/uedit/ueditor.config.js}" />
    <script th:src="@{/uedit/ueditor.all.js}" />
    <script th:src="@{/uedit/lang/zh-cn/zh-cn.js}" />
    <script th:src="@{/admin/script/serviceForBrand/update.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">品牌信息</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a>品牌信息</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" id="add-message-form" action="/userInfos/updatePerson" method="post">
                        <div class="card-body">
                            <h4 class="card-title">修改品牌信息</h4>
                            <div class="form-group row">
                                <label for="typeId" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>所属分类</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="id" name="id" th:value="${serviceForBrand.id}"/>
                                    <input type="hidden" id="createTime" name="createTime" th:value="${serviceForBrand.createTime}"/>
                                    <select class="form-control" id="typeId" name="typeId">
                                        <option th:each="serviceForType:${serviceForTypes}" th:value="${serviceForType.id}"
                                                th:text="${serviceForType.typeName}"
                                                th:selected="${serviceForBrand.typeId == serviceForType.id}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="brandName" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>品牌信息名称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="brandName" name="brandName" placeholder="品牌信息" th:value="${serviceForBrand.brandName}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>标题</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="title Here" th:value="${serviceForBrand.title}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="keywords" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>关键字</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="keywords Here" th:value="${serviceForBrand.keywords}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>描述</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="description" name="description" th:utext="${serviceForBrand.keywords}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="author" class="col-sm-3 text-right control-label col-form-label">作者</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="author" name="author" placeholder="author Name Here" th:value="${serviceForBrand.author}"/>
                                </div>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary" id="add-message-button">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>