<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/fragments/layout">
<head>
    <title>在线选型</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/admin/pagination/pagination.css" />
    <script type="text/javascript" th:src="@{/scripts/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/validate/chinese.js}"></script>
    <script type="text/javascript" th:src="@{/admin/jquery.form.js}"></script>
    <script th:src="@{/admin/pagination/jquery.pagination.js}"></script>
    <script th:src="@{/uedit/ueditor.config.js}" />
    <script th:src="@{/uedit/ueditor.all.js}" />
    <script th:src="@{/uedit/lang/zh-cn/zh-cn.js}" />
</head>
<body>

<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">在线选型详情</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/admin/guestbook/index.html">在线选型列表</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a>在线选型详情</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" id="add-message-form" action="/userInfos/updatePerson" method="post">
                        <div class="card-body">
                            <h4 class="card-title">在线选型详情</h4>
                            <div class="form-group row">
                                <label for="measurementTaskName" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>测量任务</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="measurementTaskName" name="measurementTaskName"  th:value="${guestbook.measurementTaskName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="textureName" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>产品类型</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="measurementTaskTypeName" name="measurementTaskTypeName" th:value="${guestbook.measurementTaskTypeName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="textureName" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>材质</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="textureName" name="textureName" th:value="${guestbook.textureName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="measurementRange" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>测量范围</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="measurementRange" name="measurementRange" th:value="${guestbook.measurementRange}" disabled="disabled"/>
                                </div>
                            </div>


                            <div class="form-group row" th:each="guestbookParameterValue,stat:${guestbookParameterValues}">
                                <label for="textureName" class="col-sm-3 text-right control-label col-form-label"><span th:text="${guestbookParameterValue.parameterName}">材质</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" th:if="${guestbookParameterValue.ifInput}" th:value="${guestbookParameterValue.parameterValueName + '，用户输入：' + guestbookParameterValue.content}" disabled="disabled"/>
                                    <input type="text" class="form-control" th:if="${!guestbookParameterValue.ifInput}" th:value="${guestbookParameterValue.parameterValueName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>公司</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="公司" th:value="${guestbook.companyName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="姓名" th:value="${guestbook.name}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 text-right control-label col-form-label"><span style="color: red">*</span>联系电话</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="phone Here" th:value="${guestbook.phone}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="content" class="col-sm-3 text-right control-label col-form-label">内容</label>
                                <div class="col-sm-9">
                                    <textarea id="content" class="form-control" name="content" th:text="${guestbook.content}" disabled="disabled"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="createTime" class="col-sm-3 text-right control-label col-form-label">提交时间</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="createTime" name="createTime" placeholder="author Name Here" th:value="${guestbook.createTime}" disabled="disabled"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>