<!DOCTYPE html>
<html>
<body>
<div th:fragment="footer">
    <!--footer开始-->
    <div class="lfooter">
        <ul>
            <li><a href="index.html"><img src="/phone/images/dbsy.png" width="30" height="30" /><br />网站首页</a></li>
            <li><a href="tel:15138911875"><img src="/phone/images/dbdh.png" width="30" height="30" /><br />电话咨询</a></li>
            <li><a th:href="@{mqqwpa://im/chat?(chat_type=wpa,uin=136670883,version=1)}"><img src="/phone/images/dbqq.png" width="30" height="30" /><br />QQ咨询</a></li>
            <li><a href="lxwm.html"><img src="/phone/images/dblx.png" width="30" height="30" /><br />联系我们</a></li>
        </ul>
    </div>
    <!--footer结束-->
    <div class="dbgao"></div>
</div>
</body>
</html>