<!DOCTYPE html>
<html>
<body>
<div th:fragment="footer">
    <div id="imgDiv" style="position:absolute;left:50px;top:60px;z-index: 1000;">
        <div id="a" style="width:20px;height:20px;position:absolute;left:100px;background:#fff;text-align: center;">×
        </div>
        <!-- <img src="01.jpg" border="0" /> -->
        <div style="width:110px;"><img src="/phone/images/lianxi.png" border="0" /><h3 style="text-align:center">联系我们</h3></div>
    </div>
    <!--footer开始-->
    <div class="lfooter">
        <ul>
            <li><a href="/phone/aboutUs.html"><img src="/phone/images/about.png" width="30" height="30" /><br />关于我们</a></li>
            <li><a href="/phone/productField/index2.html"><img src="/phone/images/produce.png" width="30" height="30" /><br />产品中心</a></li>
            <li><a href="/phone/guestbook/index.html"><img src="/phone/images/online.png" width="30" height="30" /><br />在线选型</a></li>
        </ul>
    </div>
    <!--footer结束-->
    <div class="dbgao"></div>
</div>
</body>
</html>