<!DOCTYPE html>
<html>
<body>
<div th:fragment="footer">
    <!--footer开始-->
    <div class="lfooter">
        <ul>
            <li><a href="/phone.html"><img src="/phone/images/index.png" width="30" height="30" /><br />网站首页</a></li>
            <li><a href="tel:13911909845"><img src="/phone/images/phone.png" width="30" height="30" /><br />电话咨询</a></li>
            <li><a href="/phone/guestbook/index.html"><img src="/phone/images/online.png" width="30" height="30" /><br />在线报修</a></li>
            <li><a href="/phone/aboutUs.html"><img src="/phone/images/about.png" width="30" height="30" /><br />关于我们</a></li>
        </ul>
    </div>
    <!--footer结束-->
    <div class="dbgao"></div>
</div>
</body>
</html>