<!DOCTYPE html>
<html>
<body>
<div th:fragment="footer">
    <div class="footer_bj1">
        <div class="w1200 footer1">
            <h2>友情链接：</h2>
            <p>
                <a th:each="serviceForBrand:${serviceForBrands}" th:href="${'/serviceForBrand/index-' + serviceForBrand.id + '.html'}" target="_blank" th:text="${serviceForBrand.brandName}"></a>
            </p>
        </div>
    </div>
    <div class="copy_bj">
        Copyright （c）2019 版权所有 羽顺售后维修服务中心
    </div>
    <div class="commonposition" style="display: none;"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2076034503&amp;site=qq&amp;menu=yes" target="_blank" class="HomeQQ1">
        <span class="QQbggray1" style="display: none;">QQ咨询</span></a> <a href="javascript:;" class="Homedianhua">
        <span class="dianhuabggray" style="display: none;">13911909845</span></a><a href="http://www.5i5j360.com/bigualu/ys/#" class="Hometop"></a>
    </div>
</div>
</body>
</html>