<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
</head>

<body>

	<div th:replace="web/fragments/brand/nav :: nav"></div>
	<!-- slider -->
	<!-- slider close -->
	<div layout:fragment="content">
	<!-- content begin -->

	<!-- content close -->
	</div>
	<!-- footer begin -->
	<div th:replace="web/fragments/brand/footer :: footer"></div>
	<!-- footer close -->
</body>
</html>
