<!DOCTYPE html>
<html>
<body>
<div th:fragment="nav">
	<!-- 顶部 -->
	<div class="w1200">
		<div class="logo">
			<h1><a href="/index.html"><img th:src="${logo.img}" width="139" height="58" th:alt="${logo.alt}"/></a></h1>
			<h2 th:text="${serviceForBrand.brandName + '（全国）维修中心'}"></h2>
			<div class="tel f_r"><img th:src="${phone.img}" width="179" height="55" th:alt="${phone.alt}"/></div>
		</div>
	</div>
	<!-- banner -->
	<div class="banner">
		<ul class="slides">
			<li th:each="banner,stat:${banners}" th:class="${stat.index==0? 'flex-active-slide' : ''}" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; opacity: 1; z-index: 2;">
				<img th:src="${banner.img}" draggable="false" th:alt="${banner.alt}"/>
			</li>
		</ul>
		<ul class="flex-direction-nav" style="display: none;"><li>
			<a class="flex-prev" href="http://www.5i5j360.com/bigualu/ys/#"></a></li><li><a class="flex-next" href="http://www.5i5j360.com/bigualu/ys/#"></a></li>
		</ul>
	</div>
</div>
</body>
</html>