<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="phone/fragments/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title th:text="${serviceForBrand.title}"></title>
  <meta name="description" th:content="${serviceForBrand.description}"/>
  <meta name="keywords" th:content="${serviceForBrand.keywords}"/>
  <meta name="author" th:content="${serviceForBrand.author}"/>
  <link rel="stylesheet" type="text/css" href="/phone/css/ltkj.css"/>
</head>
<body>
<div layout:fragment="content">
<!--首页头部的开始-->
<div class="ltop">
   <div class="ltopl fl"><img th:src="${logo.img}"  th:alt="${logo.alt}"/></div>
     <div class="ltopr fr">
         <div class="dhtp">
            <img th:src="${phone.img}"  th:alt="${phone.alt}"/>
         </div>
         <div class="clear"></div>
     </div>
   <div class="clear"></div>
</div>
<!--首页头部的结束-->

<!--nav的开始-->
<div class="lnav">
  <ul>
    <li><a href="/phone.html">网站首页</a></li>
    <li><a href="/phone/serviceForType/indexForMenu.html">分类信息</a></li>
    <li><a href="/phone/serviceForType/index.html">品牌服务</a></li>
  </ul>
</div>
<!--nav的结束-->

<!--ban图片的开始-->

<div id="slides" class="slider-focus">
    <div class="bd">
      <ul>
        <li th:each="banner,stat:${banners}"><a class='pic' href="#"><img th:src="${banner.img}" th:alt="${banner.alt}"/> </a></li>
      </ul>
    </div>
    <div class="hd">
      <ul>
      </ul>
    </div>
  </div>

<!--ban图片的结束-->

<!--关于我们开始-->
<div class="lgywm" style="display: none;">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>关于我们</strong><br />ABOUT US</p></div>
  </div>
  <!--标题结束-->
  <div class="lgywm_wz">
    <p> 我爱我家生活网是您最佳的选择！</p>
  </div>
  <!--按钮更多开始-->
  <div class="angd"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->

</div>

<!--关于我们结束-->

<!--成功案例开始-->
<div class="fwxm">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>服务项目</strong><br />SERVICES</p></div>
  </div>
  <!--标题结束-->
  <div class="cgal_nr">
     <ul>
       <li th:each="serviceForBrandProject,stat:${serviceForBrandProjects}" >
         <a th:href="${'/phone/serviceForBrandProject/detail_' + serviceForBrandProject.id + '.html'}">
           <div class="lzj"><img th:src="${serviceForBrandProject.img}"  th:alt="${serviceForBrandProject.title}"/></div>
           <em th:text="${serviceForBrandProject.title}"></em>
         </a>
       </li>
       <div class="clear"></div>
     </ul>
  </div>
   <!--按钮更多开始-->
  <div class="angd" style="display: none;"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->

</div>
<!--成功案例结束-->

<!--新闻中心开始-->
<div class="fwxm">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>维修常识</strong><br />KNOWLEDEGE</p></div>
  </div>
  <!--标题结束-->
  <div class="xwzx_nr">
     <ul>
       <li th:each="serviceForBrandMessage,stat:${serviceForBrandMessages}">
          <a th:href="${'/phone/serviceForBrandMessage/detail_' + serviceForBrandMessage.id + '.html'}">
            <div class="lzj">
              <img />
            </div>
          <h3 th:text="${serviceForBrandMessage.title}"></h3>
          <p th:text="${serviceForBrandMessage.overview}"></p></a>
       </li>
       <div class="clear"></div>
     </ul>
  </div>
  <!--按钮更多开始-->
  <div class="angd" style="display: none"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->
</div>
<!--新闻中心结束-->

</div>
</body>
</html>
