<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="phone/fragments/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title th:text="${'分类信息_' + serviceForBrandProject.title}"></title>
    <meta name="description" th:content="${serviceForBrandProject.overview}"/>
    <meta name="keywords" th:content="${serviceForBrand.keywords}"/>
    <meta name="author" th:content="${serviceForBrandProject.author}"/>
    <link rel="stylesheet" type="text/css" href="/phone/css/ltkj.css"/>
</head>
<body>
    <div layout:fragment="content">
        <div id="pgcontainer">
            <!--头部的开始-->
            <header>
                <a class="fanhui" href="#" onclick="javascript:history.back(-1);"></a>
                <strong th:text="${serviceForBrandProject.title}"></strong>
                <a href="#" class="menubtn"></a>
                <!-- use captain icon for toggle menu -->
                <div id="hamburgermenu">
                    <ul>
                        <li th:each="serviceForBrandProject,stat:${serviceForBrandProjects}">
                            <a th:href="${'/phone/serviceForBrandProject/detail_' + serviceForBrandProject.id + '.html'}" th:text="${serviceForBrandProject.title}"></a>
                        </li>
                    </ul>
                </div>
                <div class="overlay"></div>
            </header>
            <!--头部的结束-->

            <!--主题内容的开始-->
            <div class="zymain">
                <div class="zybt"><strong th:text="${serviceForBrandProject.title}"></strong></div>
                <!--更换内容开始-->
                <div class="zy_nr">
                    <h2 th:text="${serviceForBrandProject.title}"></h2>
                    <img th:src="${serviceForBrandProject.img}" th:alt="${serviceForBrandProject.title}"/>
                    <p th:utext="${serviceForBrandProject.content}">
                    </p>
                </div>
                <!--更换内容结束-->
            </div>
            <!--主题内容的结束-->
        </div>
    </div>
</body>

</html>
