<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="phone/fragments/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title th:text="${firstPage.title}"></title>
  <meta name="description" th:content="${firstPage.description}"/>
  <meta name="keywords" th:content="${firstPage.keywords}"/>
  <meta name="author" th:content="${firstPage.author}"/>
  <link rel="stylesheet" type="text/css" href="/phone/css/ltkj.css"/>
</head>
<body>
<div layout:fragment="content">
<!--首页头部的开始-->
<div class="ltop">
   <div class="ltopl fl"><img src="/phone/images/shouji_03.jpg"  /></div>
     <div class="ltopr fr">
         <div class="dhtp">
            <img src="/phone/images/shouji_06.jpg"  />
         </div>
         <p>全国400免费电话：<br />
            <strong>400-400-4000</strong></p>
         <div class="clear"></div>
     </div>
   <div class="clear"></div>
</div>


<!--首页头部的结束-->

<!--nav的开始-->
<div class="lnav">
  <ul>
    <li><a href="/phone.html">网站首页</a></li>
    <li><a href="gywm.html">分类信息</a></li>
    <li><a href="case_list.html">品牌服务</a></li>
  </ul>
</div>

<!--nav的结束-->

<!--ban图片的开始-->

<div id="slides" class="slider-focus">
    <div class="bd">
      <ul>
        <li><a class='pic' href="#"><img src="/phone/images/shoujiban1.jpg" /> </a></li>
        <li><a class='pic' href="#"><img src="/phone/images/shoujiban1.jpg" /> </a></li>
        <li><a class='pic' href="#"><img src="/phone/images/shoujiban1.jpg" /> </a></li>
      </ul>
    </div>
    <div class="hd">
      <ul>
      </ul>
    </div>
  </div>

<!--ban图片的结束-->

<!--关于我们开始-->
<div class="lgywm">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>关于我们</strong><br />ABOUT US</p></div>
  </div>
  <!--标题结束-->
  <div class="lgywm_wz">
    <p> 郑州市龙拓科技有限公司创立于2009年，是一家专业的网站建设、网络整合营销、400电话、可信网站验证、网站整合营销、网站托管、域名虚拟主机等一体化服务的网络公司。公司本着诚信为本，服务至上、技术过硬的经营理念对广大客户进行跟踪式服务，实现客我双赢。我们拥有五年的郑州网站建设和400电话办理经验！</p>
  </div>
  <!--按钮更多开始-->
  <div class="angd"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->

</div>

<!--关于我们结束-->

<!--服务项目开始-->
<div class="fwxm">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>服务项目</strong><br />SERVICES</p></div>
  </div>
  <!--标题结束-->
  <div class="fwxm_nr">
     <ul>
       <li><div class="lzj"><img src="/phone/images/shouji_21.jpg"  /></div>360天网营销</li>
       <li><div class="lzj"><img src="/phone/images/shouji_23.jpg"  /></div>营销型网站</li>
       <li><div class="lzj"><img src="/phone/images/shouji_25.jpg"  /></div>展示型网站</li>
       <li><div class="lzj"><img src="/phone/images/shouji_27.jpg"  /></div>网络商城</li>
       <li><div class="lzj"><img src="/phone/images/shouji_29.jpg"  /></div>400电话</li>
       <div class="clear"></div>
     </ul>
  </div>
   <!--按钮更多开始-->
  <div class="angd"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->

</div>
<!--服务项目结束-->

<!--成功案例开始-->
<div class="fwxm">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>成功案例</strong><br />CASES</p></div>
  </div>
  <!--标题结束-->
  <div class="cgal_nr">
     <ul>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>360天网营销</a></li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>360天网营销</a></li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>360天网营销</a></li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>360天网营销</a></li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>360天网营销</a></li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>360天网营销</a></li>
       <div class="clear"></div>
     </ul>
  </div>
   <!--按钮更多开始-->
  <div class="angd"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->

</div>
<!--成功案例结束-->

<!--新闻中心开始-->
<div class="fwxm">
  <!--标题开始-->
  <div class="lgywm_title">
    <div class="xian"></div>
    <div class="lwenzi"><p><strong>新闻资讯</strong><br />NEWS</p></div>
  </div>
  <!--标题结束-->
  <div class="xwzx_nr">
     <ul>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>
       <h3>从“速度与激情7”中读出营销的精神</h3>
       <p>两年前的一场意外夺走了保罗沃克的生命，这无疑给了剧组当头一棒，同时也给了跟</p></a>
       </li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>
       <h3>从“速度与激情7”中读出营销的精神</h3>
       <p>两年前的一场意外夺走了保罗沃克的生命，这无疑给了剧组当头一棒，同时也给了跟</p></a>
       </li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>
       <h3>从“速度与激情7”中读出营销的精神</h3>
       <p>两年前的一场意外夺走了保罗沃克的生命，这无疑给了剧组当头一棒，同时也给了跟</p></a>
       </li>
       <li><a href="#"><div class="lzj"><img src="/phone/images/shouji_37.jpg"  /></div>
       <h3>从“速度与激情7”中读出营销的精神</h3>
       <p>两年前的一场意外夺走了保罗沃克的生命，这无疑给了剧组当头一棒，同时也给了跟</p></a>
       </li>

       <div class="clear"></div>
     </ul>
  </div>
  <!--按钮更多开始-->
  <div class="angd"><a href="#">了解更多 &gt;&gt; </a></div>
  <!--按钮更多结束-->
</div>
<!--新闻中心结束-->

</div>
</body>
</html>
