<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="phone/fragments/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title th:text="${'分类信息_' + firstPage.title}"></title>
    <meta name="description" th:content="${firstPage.description}"/>
    <meta name="keywords" th:content="${firstPage.keywords}"/>
    <meta name="author" th:content="${firstPage.author}"/>
    <link rel="stylesheet" type="text/css" href="/phone/css/ltkj.css"/>
</head>
<body>

    <div layout:fragment="content">
        <div id="pgcontainer">
            <!--头部的开始-->
            <header>
                <a class="fanhui" href="#" onclick="javascript:history.back(-1);"></a>
                <strong>分类信息</strong>
                <a href="#" class="menubtn"></a>
                <!-- use captain icon for toggle menu -->
                <div id="hamburgermenu">
                    <ul>
                        <li><a href="/phone.html">网站首页</a></li>
                        <li><a href="/phone/serviceForType/indexForMenu.html">分类信息</a></li>
                        <li><a href="/phone/serviceForType/index.html">品牌服务</a></li>
                        <li><a href="/phone/aboutUs.html">关于我们</a></li>
                    </ul>
                </div>
                <div class="overlay"></div>
            </header>
            <!--头部的结束-->

            <!--主题内容的开始-->
            <div class="zymain">
                <div class="zybt"><strong>分类信息</strong></div>
                <!--更换内容开始-->
                <div class="cgal_nr">
                    <ul>
                        <li th:each="serviceForType,stat:${serviceForTypesIsMenu}">
                            <a th:href="${'/phone/serviceForType/list-' + serviceForType.id + '.html'}">
                                <div class="lzj">
                                <img th:src="${serviceForType.img}"  th:alt="${serviceForType.title}"/>
                                </div>
                                <em th:text="${serviceForType.title}"></em>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <!--更换内容结束-->
            </div>
            <!--主题内容的结束-->
        </div>
    </div>
</body>

</html>
