<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="phone/fragments/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title th:text="${'分类信息_' + serviceForType.title}"></title>
    <meta name="description" th:content="${serviceForType.description}"/>
    <meta name="keywords" th:content="${serviceForType.keywords}"/>
    <meta name="author" th:content="${serviceForType.author}"/>
    <link rel="stylesheet" type="text/css" href="/phone/css/ltkj.css"/>
</head>
<body>

    <div layout:fragment="content">
        <div id="pgcontainer">
            <!--头部的开始-->
            <header>
                <a class="fanhui" href="#" onclick="javascript:history.back(-1);"></a>
                <strong th:text="${serviceForType.typeName}"></strong>
                <a href="#" class="menubtn"></a>
                <!-- use captain icon for toggle menu -->
                <div id="hamburgermenu">
                    <ul>
                        <li th:each="serviceForType,stat:${serviceForTypesIsMenu}">
                            <a th:href="${'/phone/serviceForType/list-' + serviceForType.id + '.html'}" th:text="${serviceForType.menuName}"></a>
                        </li>
                    </ul>
                </div>
                <div class="overlay"></div>
            </header>
            <!--头部的结束-->

            <!--主题内容的开始-->
            <div class="zymain">
                <div class="zybt"><strong th:text="${serviceForType.typeName}"></strong></div>
                <!--更换内容开始-->
                <div class="xwzx_nr">
                    <ul>
                        <li th:each="serviceForTypeMessage,stat:${serviceForTypeMessages}">
                            <a th:href="${'/phone/serviceForTypeMessage/detail_' + serviceForTypeMessage.id + '.html'}">
                                <div class="lzj">
                                    <div class="time">
                                        <span th:text="${#strings.substring(serviceForTypeMessage.createTime,0,4)}">2019</span>
                                        <em th:text="${#strings.substring(serviceForTypeMessage.createTime,5,10)}">12-14</em>
                                    </div>
                                </div>
                                <h3 th:text="${serviceForTypeMessage.title}"></h3>
                                <p th:text="${serviceForTypeMessage.overview}"></p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <!--更换内容结束-->
            </div>
            <!--主题内容的结束-->
        </div>
    </div>
</body>

</html>
