<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
</head>
<body>
<div th:fragment="menus">
	<aside class="left-sidebar" data-sidebarbg="skin5">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav" class="p-t-30">
					<li class="sidebar-item" th:if="${session.roleType =='MANAGER' || session.roleType == 'SUPER'}"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/productField/index.html" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">领域管理</span></a></li>
					<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/produce/index.html" aria-expanded="false"><i class="mdi mdi-relative-scale"></i><span class="hide-menu">产品管理</span></a></li>
					<li class="sidebar-item" style="display: none"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/banner/index.html" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">图片管理</span></a></li>
					<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/guestbook/index.html" aria-expanded="false"><i class="mdi mdi-message-outline"></i><span class="hide-menu">在线选型</span></a></li>
					<li class="sidebar-item" th:if="${session.roleType =='MANAGER' || session.roleType == 'SUPER'}"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">系统设置</span></a>
						<ul aria-expanded="false" class="collapse  first-level">
							<li class="sidebar-item"><a href="/admin/measurementTask/index.html" class="sidebar-link"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">测量任务设置</span></a></li>
							<li class="sidebar-item"><a href="/admin/contactWay/index.html" class="sidebar-link"><i class="mdi mdi-bulletin-board"></i><span class="hide-menu">联系电话</span></a></li>
							<li class="sidebar-item"><a href="/admin/parameter/index.html" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu">属性设置</span></a></li>
							<li class="sidebar-item"><a href="/admin/config/firstPage.html" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">关键字配置</span></a></li>
							<li class="sidebar-item" style="display: none"><a href="/admin/blogroll/index.html" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">友情链接</span></a></li>
						</ul>
					</li>
					<li class="sidebar-item" > <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/config/aboutUs.html" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">关于我们</span></a></li>
					<li class="sidebar-item" th:if="${session.roleType == 'SUPER'}"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">账号管理 </span></a>
						<ul aria-expanded="false" class="collapse  first-level">
							<li class="sidebar-item"><a href="/admin/user/index.html" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> 用户信息 </span></a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- End Sidebar navigation -->
		</div>
		<!-- End Sidebar scroll-->
	</aside>
</div>
</body>
</html>